  <span
    *ngFor="let word of words"
    [ngClass]="{'bold': word.isBold,'italic': word.isCursive,'underline': word.isUnderline }"
    (click)="wordSelected(word)">
    {{word.word}}
  </span>
<hr>
<div >
  Selected Word:  {{selectedWord.word}}
  <br>
  Synonyms: <span class="synonyms" (click)="replace(syn)" *ngFor="let syn of synonyms">{{syn.word}}</span>
  <br>
  <div>Add Styles:</div>
  <button (click)="addStyleToWord(styles.Bold)">Bold</button>
  <button (click)="addStyleToWord(styles.Cursive)">Cursive</button>
  <button (click)="addStyleToWord(styles.Underline)">Underline</button>
</div>
  <hr>
  <textarea cols="30" rows="5" (input)="updateText($event.target.value)">{{plainText}}</textarea>
